/*defined external custon*/
		@font-face{
				font-family:lora;
				src: url('../fonts/Lora/Lora-Regular.ttf');
				}
				@font-face{
				font-family:roboto;
				src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
				
				}
a.nounderline{
	text-decoration: none; 
	color:white;
}
 .input-container {
  width: 100%;
  margin-left:30px;
}
.icon {
  padding:10px;
  background:#e62a4f;
  color: white;
  width:50px;
  text-align: center;
 
 
}
.input-field:focus {
  border: 2px solid #e62a4f;
  
  
}
.select-drop{
height:35px;
 font-size:15px;

 
}
.none{
	font-size:12px;
	list-style:none;
	padding-left:3px;
}
ul li a:hover{
color:#e62a4f;
text-decoration:none;
}
.cat_sec{
	font-size:15px;
	padding-left:5px;
}
.prod_listing{
	padding-left:90px;
	
}
a i:hover{
color:#e62a4f;	
	
}
.dropdown-toggle:after { 
content: none
}
